html {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  list-style: none;
  color: #fff;
}


:root {
  --bg: #222222;
  --checked: #42FF6B;
  --rubbish-bg: #FF4242;
}

html {
  font-size: 16px;
}

.container {
  position: relative;
  width: 500px;
  margin: auto;
}

.to-do-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url('../public/img/bg-image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.to-do-items {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.to-do-items .todo-add {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.todo-add .add-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 2rem;
  background-color: var(--bg);
  width: 40px;
  height: 40px;
  border-radius: 1rem;
}

.todo-add-input {
  width: 100%;
  height: 60px;
  border-radius: 2rem;
  border: none;
  outline: none;
  padding: 0 2rem;
}

.to-do-items .todos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  height: 500px;
  border-radius: 2rem;
  padding: 2rem;
  background-color: #fff;
  margin-top: 2rem;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 6px;
  z-index: 99;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg);
  border-radius: 1rem;
  padding: 2rem;
}

.todos .todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.todos .todo div {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--bg);
}

.todos .todo div p {
  max-width: 300px;
  word-wrap: break-word;
}

.todos .todo div input {
  display: none;
  width: 40px;
  height: 40px;
}

.todos .todo div label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #222222;
  border-radius: 1rem;
  cursor: pointer;
}

.todos .todo div label i {
  display: none;
  color: var(--bg);
  font-size: 1.4rem;
}

.tickShow {
  background-color: var(--checked);
}

.tickShow i {
  display: inline-block !important;
}

.todos .todo .rubbish {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--rubbish-bg);
  border-radius: 1rem;
}

.rubbish {
  cursor: pointer;
}

.rubbish i {
  font-size: 1.2rem;
}

@media (max-width: 530px) {

  html {
    font-size: 14px;
  }

  .container {
    width: 75%;
  }

  .todos .todo div p {
    max-width: 100px;
    word-wrap: break-word;
  }
}